*.o
*.o_binary
*.o.cmd
*.o.d
_out/
*.sw[po]

cscope.*
tags
compile.sh
tests/test_dirty_tracking
tests/test_dirty_tracking_suite

.vscode/*
*.out
*.log
*.aux
*.synctex.gz
*.snm
*.toc
*.nav
*.fls
*.*latexmk

perf.*

# Ignore test binaries
correctness_tests/**/tc*
performance_tests/**/tc*

# Dont ignore the source cuda file
!correctness_tests/**/tc*.cu
!performance_tests/**/tc*.cu

# Dont ignore the output csv files for perf testing
!performance_tests/**/tc*.csv

temp
**/__pycache__/
.DS_Store
